.headerImage{
  background-image: url("http://demos.cryoutcreations.eu/wordpress/fluida/wp-content/uploads/2013/02/jellyfish-698521-1920x250.jpg");
  background-size: cover;
  height:150px;
}

.loginText {
  text-align: right;
}

.no-padding {
  padding:0!important;
}

.BodyBackground{
  /*background-color: #595959;*/
}

.MyFooter{

}

.hide{
  visibility: hidden;
  display:none;
}

.imgAllWorks{
    max-height:360px;
    max-width:360px;
    height:auto;
    width:auto;
}

.imgAllBlogs{
    max-height:150px;
    max-width:825px;
    height:auto;
    width:auto;
}

.iconImg{
  max-height:50px;
  max-width:50px;
  height:auto;
  width:auto;
}

.meContactImg{
  max-height:500px;
  max-width:350px;
  height:auto;
  width:auto;
}
.meIndexImg{
  max-height:300px;
  max-width:260px;
  height:auto;
  width:auto;
}
@media only screen and (min-width: 600px) {

  .Sidescroller{
    height: 550px;
    overflow-y: scroll;
  }

}

/*--Navbar color #333333 Highlight color #CC6600*/
